.col-md-5
  .panel.panel-primary
    .panel-heading{align: 'center'}
      #name Enjoy to listen music
    .panel-body
      .row
        .col-md-4
          %img#images.img-thumbnail
          .col-md-9
            #jpId
        .col-md-4
          .text-center Info
          %ul.list-group
            %li.list-group-item.list-group-item-success
              Bitrate
              #bitrate.pull-right 128kbps
            %li.list-group-item.list-group-item-warning
              Lyrics
              #lyrisc_true.pull-right Yes
            %li.list-group-item.list-group-item-info
              Year
              #song_date.pull-right 2001
        .col-md-4
          .text-center Actions
          %ul.list-group
            %li.list-group-item
              Playlist
              .pull-right
                = link_to "#" do
                  %i.fa.fa-plus.btn.btn-success.btn-xs
            %li.list-group-item
              Lyrics
              .pull-right
                = link_to "#" do
                  %i.fa.fa-indent.btn.btn-warning.btn-xs
            %li.list-group-item
              Share
              .pull-right
                = link_to "#" do
                  %i.fa.fa-share.btn.btn-primary.btn-xs
    .panel-footer
      .row
        .col-xs-1.volume-div
          %i#hidden-range.fa.fa-volume-up.round-button{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseOne"}
        #collapseOne.panel-collapse.collapse.col-md-3
          .panel-body
            %input#volume{max: "1", min: "0", type: "range"}
        .col-xs-1.volume-div
          %i#repeat.fa.fa-repeat.round-button
        .col-xs-4
          .player-group
            %a
              %i#previous.fa.fa-step-backward.round-button
            %a
              %i#playpause.fa.fa-play.round-button.big.fa-2x
            %a
              %i#next.fa.fa-step-forward.round-button
        .pull-right.current_time_div.pull-right
          #currentTime.label.label-default
          #duration.label.label-primary
      .row
        .a
          .p
            .line
.col-md-7
  .input-group
    %input#searchText.form-control{placeholder: "Search music", type: "text"}
      %span.input-group-btn
        %button#searchAction.btn.btn-search.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          Search for title
          %span.caret
        %ul.dropdown-menu
          %li#searchByName
            %a Search for title
          %li#searchByArtist
            %a Search for artist
        %button#searchBtn.btn.btn-primary
          %i.fa.fa-search.fa-lg
  %br
    #formlist.list-group
    #footer
    #lir